%border-box {
  box-sizing: border-box;
}

%zero {
  margin: 0;
  padding: 0;
}

%margin-center {
  margin: 0 auto;
}

%margin-div {
  margin-top: 25px;
}

%padding-div {
  padding: 15px;
}

%text-uppercase {
  text-transform: uppercase;
}

%text-transform-none {
  text-transform: none;
}
%text-center {
  text-align: center;
}

%head-color {
  color: $color-font;
}

%text-color {
  color: $color-text;
}

%display-block {
  display: block;
}

%font-weight-lighter {
  font-weight: lighter;
}

%text-size {
  font-size: $font-size-primary;
  line-height: 1.5em;
}

%float-left {
  float: left;
}

%float-right {
  float: right;
}


// Clear Fix
%cf {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
